@tailwind base;
@tailwind components;
@tailwind utilities;

.borderBottom {
    @apply border-b-2 border-white text-white
}

/*.ant-switch-checked {*/
/*    background-color: #38e26d !important;*/
/*}*/

a {
    color: inherit;
}

.border-color {
    border-bottom-color: red !important;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: black !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: black !important;
}

.ant-layout-sider {
    background-color: black !important;
}

.ant-tabs-top > .ant-tabs-nav::before {
    border-bottom: none !important;
}

.textarea-wrapper {
    width: 100% !important;
    height: 400px;
}

textarea {
    height: 130px !important;
}

#next-ui-je3e3dcq {
    height: 130px !important;
}

#next-ui-tmj57pch {
    height: 130px !important;
}

#next-ui-4p4f9b08 {
    height: 130px !important;
}

.jsx-982755100 textarea {
    height: 130px;
}

.ant-form-item-explain {
    color: red !important;
}
